.vscode/

# python module
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~

# video
*.mp4
*.avi
*.mov
*.mkv
*.wmv
*.mpeg
*.m4v
*.flv
*.rmvb
*.ts

*.wav
*.badapple

# image
*.png
*.jpg
*.jpeg
*.webp
*.bmp
*.gif

# archive
*.tar
*.gz
*.tgz
*.rar
*.zip
*.7z

archive/
*/temp/
tempCodeRunnerFile.cpp

!src/badapple/*.data
!src/badapple/badapple.*
